In [1]:
import pandas as pd
import numpy as np
import re
import pytz
import os
from pathlib import Path
import sys
sys.path.append("/home/jovyan/shared/service-data")

from src.clean import clean_percentage, normalize_string, standardize_column_names, clean_fiscal_yr
from src.load import load_csv_from_raw
from src.export import export_to_csv
from src.merge import merge_si, merge_ss

base_dir = Path.cwd()
parent_dir = base_dir.parent

In [2]:
si = merge_si()
ss = merge_ss()
ss.info()

Exported dept.csv to /home/jovyan/shared/service-data/outputs/utils
Exported si_all.csv to /home/jovyan/shared/service-data/outputs/utils
Exported sid_list.csv to /home/jovyan/shared/service-data/outputs/utils
Exported dept.csv to /home/jovyan/shared/service-data/outputs/utils
Exported ss_all.csv to /home/jovyan/shared/service-data/outputs/utils
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12752 entries, 0 to 12751
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fiscal_yr                   12752 non-null  object
 1   service_id                  12752 non-null  object
 2   service_name_en             12752 non-null  object
 3   service_name_fr             12752 non-null  object
 4   service_standard_id         12751 non-null  object
 5   service_standard_en         12734 non-null  object
 6   service_standard_fr         12681 non-null  object
 7   type                        12752 non-null  object
 8   gcss_tool_fiscal_yr         5724 non-null   object
 9   channel                     12752 non-null  object
 10  channel_comments_en         4346 non-null   object
 11  channel_comments_fr         4386 non-null   object
 12  target_type                 10424 non-null  object
 13  target                      12471 non-null  float64
 14  volume_meeting_target       11687 non-null  float64
 15  total_volume                11808 non-null  float64
 16  performance                 9389 non-null   float64
 17  comments_en                 4787 non-null   object
 18  comments_fr                 4792 non-null   object
 19  target_met                  10165 non-null  object
 20  standards_targets_uri_en    8962 non-null   object
 21  standards_targets_uri_fr    8989 non-null   object
 22  performance_results_uri_en  2867 non-null   object
 23  performance_results_uri_fr  3010 non-null   object
 24  org_name_variant            12752 non-null  object
 25  org_id                      12752 non-null  object
 26  department_en               12752 non-null  object
 27  department_fr               12752 non-null  object
dtypes: float64(4), object(24)
memory usage: 2.7+ MB

In [3]:
si = si.loc[si['service_scope_ext_or_ent']]

si_inscope = si.set_index(['fiscal_yr','service_id'])

ss_inscope = ss.set_index(['fiscal_yr', 'service_id']).merge(si_inscope['service_scope_ext_or_ent'], how='left', left_index=True, right_index=True)
ss_inscope = ss_inscope.loc[ss_inscope['service_scope_ext_or_ent'].notna()].reset_index()


si.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8897 entries, 0 to 8929
Data columns (total 53 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   fiscal_yr                                            8897 non-null   object
 1   service_id                                           8897 non-null   object
 2   service_name_en                                      8897 non-null   object
 3   service_name_fr                                      8897 non-null   object
 4   service_description_en                               8896 non-null   object
 5   service_description_fr                               8896 non-null   object
 6   service_type                                         8897 non-null   object
 7   service_recipient_type                               8897 non-null   object
 8   service_scope                                        8897 non-null   object
 9   client_target_groups                                 8897 non-null   object
 10  program_name_en                                      8743 non-null   object
 11  program_name_fr                                      8743 non-null   object
 12  client_feedback_channel                              8897 non-null   object
 13  service_fee                                          8897 non-null   object
 14  last_GBA                                             4079 non-null   object
 15  ident_platform                                       3490 non-null   object
 16  ident_platform_comments                              2455 non-null   object
 17  os_account_registration                              5170 non-null   object
 18  os_authentication                                    5217 non-null   object
 19  os_application                                       5643 non-null   object
 20  os_decision                                          5353 non-null   object
 21  os_issuance                                          5273 non-null   object
 22  os_issue_resolution_feedback                         6105 non-null   object
 23  os_comments_client_interaction_en                    5891 non-null   object
 24  os_comments_client_interaction_fr                    6051 non-null   object
 25  how_has_the_service_been_assessed_for_accessibility  4650 non-null   object
 26  last_service_review                                  3250 non-null   object
 27  last_service_improvement                             3022 non-null   object
 28  sin_usage                                            3142 non-null   object
 29  cra_bn_identifier_usage                              3370 non-null   object
 30  num_phone_enquiries                                  6026 non-null   object
 31  num_applications_by_phone                            5483 non-null   object
 32  num_website_visits                                   6715 non-null   object
 33  num_applications_online                              6161 non-null   object
 34  num_applications_in_person                           5472 non-null   object
 35  num_applications_by_mail                             5881 non-null   object
 36  num_applications_by_email                            6242 non-null   object
 37  num_applications_by_fax                              5372 non-null   object
 38  num_applications_by_other                            5682 non-null   object
 39  special_remarks_en                                   5535 non-null   object
 40  special_remarks_fr                                   5544 non-null   object
 41  service_uri_en                                       7555 non-null   object
 42  service_uri_fr                                       7555 non-null   object
 43  num_applications_total                               8445 non-null   float64
 44  org_name_variant                                     8897 non-null   object
 45  org_id                                               8897 non-null   object
 46  department_en                                        8897 non-null   object
 47  department_fr                                        8897 non-null   object
 48  program_id                                           8405 non-null   object
 49  automated_decision_system_description_fr             153 non-null    object
 50  automated_decision_system                            1649 non-null   object
 51  automated_decision_system_description_en             136 non-null    object
 52  service_scope_ext_or_ent                             8897 non-null   bool
dtypes: bool(1), float64(1), object(51)
memory usage: 3.6+ MB

In [5]:
ss_inscope.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12698 entries, 0 to 12697
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fiscal_yr                   12698 non-null  object
 1   service_id                  12698 non-null  object
 2   service_name_en             12698 non-null  object
 3   service_name_fr             12698 non-null  object
 4   service_standard_id         12697 non-null  object
 5   service_standard_en         12680 non-null  object
 6   service_standard_fr         12627 non-null  object
 7   type                        12698 non-null  object
 8   gcss_tool_fiscal_yr         5709 non-null   object
 9   channel                     12698 non-null  object
 10  channel_comments_en         4321 non-null   object
 11  channel_comments_fr         4361 non-null   object
 12  target_type                 10377 non-null  object
 13  target                      12419 non-null  float64
 14  volume_meeting_target       11645 non-null  float64
 15  total_volume                11766 non-null  float64
 16  performance                 9354 non-null   float64
 17  comments_en                 4768 non-null   object
 18  comments_fr                 4773 non-null   object
 19  target_met                  10119 non-null  object
 20  standards_targets_uri_en    8935 non-null   object
 21  standards_targets_uri_fr    8962 non-null   object
 22  performance_results_uri_en  2858 non-null   object
 23  performance_results_uri_fr  3001 non-null   object
 24  org_name_variant            12698 non-null  object
 25  org_id                      12698 non-null  object
 26  department_en               12698 non-null  object
 27  department_fr               12698 non-null  object
 28  service_scope_ext_or_ent    12698 non-null  object
dtypes: float64(4), object(25)
memory usage: 2.8+ MB



ifoi_en = pd.read_csv(parent_dir / "inputs" / "ifoi_en.csv")
ifoi_fr = pd.read_csv(parent_dir / "inputs" / "ifoi_fr.csv")

ifoi_en = ifoi_en.set_index(ifoi_en.columns[0], drop=True).add_suffix('_en')
ifoi_fr = ifoi_fr.set_index(ifoi_fr.columns[0], drop=True).add_suffix('_fr')

ifoi_en.set_index(ifoi_en.columns[0], drop=True)
ifoi_fr.set_index(ifoi_fr.columns[0], drop=True)

ifoi = pd.concat([ifoi_en, ifoi_fr], axis=1)

# Extract column lists
en_cols = ifoi_en.columns.tolist()
fr_cols = ifoi_fr.columns.tolist()

# Interleave them by index
merged_cols = [col for pair in zip(en_cols, fr_cols) for col in pair]

# Apply new column order
ifoi = standardize_column_names(ifoi[merged_cols].reset_index())

ifoi